body{
    font-size: 30px;
    background-image: url("https://res.cloudinary.com/twenty20/private_images/t_standard-fit/photosp/fa547a30-2d0a-4909-8ea8-389802888058/stock-photo-night-wall-blue-brick-lamp-wood-bar-neon-effect-fa547a30-2d0a-4909-8ea8-389802888058.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400vh;
    margin: 0px;
  
  }

  a:link {
    color: #4acfb9;
    font-size: 20px;
    text-align: center;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    background-size: cover;
    display: inline-block;
    height:25px;
    width:175px;
    margin-top:5px;
    margin-left:5px;
    margin-bottom:5px;
  }
  
  /* visited link */
  a:visited {
    color: #f769b0;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(252, 143, 197);
  }
  
  /* selected link */
  a:active {
    color: #6ce8f8;
  }

  h1 {
     color: rgb(214, 232, 248);
     font-size: 30px;
     text-align: center;
  }

  P {
    color: rgb(183, 210, 236);
    font-size: 20px;
    text-align: center;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    background-size: cover;
    display: inline-block;
    height:20px;
    width:170px;
    margin-top:5px;
    margin-left:5px;
    
  }

  ul li {
    margin-left:15px;
    margin-top:5px;
    list-style-type: square;
    color: rgb(213, 233, 252);
    font-size: 15px;
  }
 
  ol li {
    margin-left:35px;
    margin-top:10px;
    list-style-type: upper-roman;
    color: rgb(213, 233, 252);
    font-size: 15px;
  }